.vs
[Oo]bj
[Bb]in
SummitPro.WebUI/.angular
SummitPro.WebUI/.vscode
SummitPro.WebUI/node_modules
SummitPro.Web/node_modules
SummitPro.Web/wwwroot/js/
SummitPro.Web/wwwroot/css/
SummitPro.Web/wwwroot/image/
