// My custom colors

$body-bg: #f5f5f5;
$body-color: #000;

$font-family-sans-serif: 'Fira Code' !default;
$font-family-base: $font-family-sans-serif !default;

$primary: #5465FF;
$secondary: #788BFF;
$success: #788BFF;
$info: #BFD7FF;
$light: rgba(84, 101, 255, 0.5);

@import "../node_modules/bootstrap/scss/bootstrap";
