@page
@model SummitPro.Web.Pages.Barbecue.IndexModel
@{
    Layout = "_Layout";
}

<h1>Welcome to SummitPro</h1>

<section class="container d-flex flex-row justify-content-around">
    <div class="flex-column justify-content-between">
        <h1>Welcome to <span>SummitPro</span></h1>
        <h1>Join to any event around the World</h1>
        <p>Build a beautiful, modern website with flexible Bootstrap components built from scratch.</p>
    </div>
    <div>
        <img src="~/image/work_together.svg" alt="Work together" />
    </div>

</section>

<a type="button" class="btn btn-primary" asp-page="/Barbecue/Index">Base class</a>
