@page
@model SummitPro.Web.Pages.Barbecue.IndexModel
@{
    Layout = "_Layout";
}

<section class="container d-flex flex-row justify-content-around">
    <div class="d-flex col-4 flex-column justify-content-center align-content-start">
        <h2>Welcome to <span class="badge text-bg-primary text-white">SummitPro</span><br>
            Join to any event around the World</h2>
        <p class="my-3">Build a beautiful, modern website with flexible Bootstrap components built from scratch.</p>
        <div class="d-flex flex-row justify-content-between bg-dangerk">
            <a class="btn btn-primary text-white shadow-lg py-2 px-4 rounded" type="button" asp-page="/Barbecue/Index">View Events</a>
            <button id="create-event-arrow-short" class="btn text-primary btn-light shadow-lg py-2 px-3 rounded" type="button">
                Create Event
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="d-flex col-8">
        <img src="~/image/work_together.svg" class="img-fluid p-5" alt="Work together" />
    </div>
</section>
