@page
@model SummitPro.Web.Pages.Barbecue.IndexModel
@{
    Layout = "_Layout";
}

<h1>Welcome to SummitPro</h1>

<div class="container-md text-center bg-primary">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>

<a type="button" class="btn" asp-page="/Barbecue/Index">Base class</a>
