<div class="main-container">
    <div class="header">
        <button>
            <div class="back-icon">
                <mat-icon svgIcon="thumbs-up"></mat-icon>
            </div>
        </button>

        <div class="profile-info">
            <strong>Yuri Melo</strong>
            <span>943 Zettas</span>
        </div>
    </div>

    <!-- <profile-page /> -->

    <!-- <bottom-menu>
        <home-icon />
        <search-icon />
        <bell-icon />
        <email-icon />
    </bottom-menu> -->
</div>