<div class="container">
    <div class="header">
        <!-- <div class="back-icon"> -->
            <button>
                <mat-icon svgIcon="thumbs-up"></mat-icon>
            </button>
        <!-- </div> -->

        <div class="profile-info">
            <strong>Yuri Melo</strong>
            <span>943 Zettas</span>
        </div>
    </div>

    <!-- <profile-page /> -->

    <!-- <bottom-menu>
        <home-icon />
        <search-icon />
        <bell-icon />
        <email-icon />
    </bottom-menu> -->
</div>