.main-container {
    display: flex;
    flex-direction: column;
    
    width: min(601px, 100%);

    background-color: red;
}

/*.header {
     position: sticky;
    top: 0;

    display: flex;
    align-items: left;

    text-align: left;

    padding: 8px 0 9px 13px;
    border-bottom: 1px solid var(--outline);

    > button {
        padding: 8px;
        border-radius: 50%;

        outline: 0;
        cursor: pointer;

        &:hover {
            background-color: var(--twitter-light-hover);
        }
    }
}*/