<!DOCTYPE html>
<html lang="en">
    <head>
        <lang></lang>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SummitPro</title>
        <link rel="stylesheet" href="~/css/CustomStyle.css">
    </head>
    <body>
        @await Html.PartialAsync("/Pages/Partials/_GeneralNavbar.cshtml")
        
        <div class="container-sm">
            @RenderBody()
            <footer>
                <p>&copy; @DateTime.UtcNow.Year - SummitPro</p>
            </footer>
        </div>
        
        @await RenderSectionAsync("Scripts", false)
    </body>
    <script src="~/dist/js/init.bundle.js"></script>
</html>
