<!DOCTYPE html>
<html lang="en">
    <head>
        <lang></lang>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SummitPro</title>
    </head>
    <body>
        <div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.UtcNow.Year - SummitPro</p>
            </footer>
        </div>
        <script src="~/js/log.js"></script>
    </body>
</html>
