@model string

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Ler os Termos de Serviço direcionado a @Model
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Última Atualização: 23 de novembro de 2023

        Bem-vindo aos Termos de Serviço do Teste Front-End. Este documento estabelece as condições que regem o uso dos nossos serviços de teste front-end. Ao acessar ou utilizar esses serviços, você concorda com os termos e condições aqui descritos. Por favor, leia atentamente antes de prosseguir.

        Ao utilizar os serviços de teste front-end, você reconhece e concorda que a finalidade exclusiva é a avaliação de experiências de front-end. Qualquer uso indevido ou não autorizado dos serviços é estritamente proibido. Todos os direitos de propriedade intelectual relacionados aos nossos serviços são exclusivos do Teste Front-End, e qualquer reprodução não autorizada é passível de ações legais.

        Nosso compromisso é fornecer serviços de teste front-end de qualidade, mas não garantimos a ausência de erros ou interrupções. Ao concordar com estes termos, você isenta o Teste Front-End de qualquer responsabilidade por danos diretos ou indiretos decorrentes do uso dos nossos serviços. Reservamo-nos o direito de modificar estes Termos a qualquer momento, sendo sua responsabilidade revisá-los periodicamente. O não cumprimento destes Termos pode resultar na suspensão ou encerramento dos seus direitos de uso.

        Estes Termos de Serviço representam o acordo integral entre você e o Teste Front-End. Se tiver dúvidas sobre esses termos ou sobre nossos serviços, entre em contato conosco. Agradecemos por escolher o Teste Front-End para suas necessidades de avaliação de front-end.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Ler os termos 02 direcionado a @Model
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Ler os termos 03 direcionado a @Model
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>