@page
@model SummitPro.Web.Pages.Barbecue.IndexModel
@{
	Layout = "_Layout";
}

<h1>Bem-vindo à Página</h1>

<a class="btn btn-primary text-white shadow-lg py-2 px-4 rounded" type="button" asp-page="/Barbecue/Create">New Event</a>

<br />
<br />
<br />
<br />

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Identifier</th>
			<th scope="col">Description</th>
			<th scope="col">Begin Date</th>
			<th scope="col">End Date</th>
			<th scope="col">Participants Quantity</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.BarbecueViewModels)
		{
			<tr>
				<th scope="row">@Html.DisplayFor(o => item.BarbecueIdentifier)</th>
				<td>@Html.DisplayFor(o => item.Description)</td>
				<td>@Html.DisplayFor(o => item.BeginDate)</td>
				<td>@Html.DisplayFor(o => item.EndDateTime)</td>
				<td>123</td>
			</tr>
		}
	</tbody>
</table>
